html, div, span, applet, object, iframe,
h2, h3, h5, h6, p, blockquote, pre,
a, abbr, abbr, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family:inherit;
	font-size: 100%;
	vertical-align: baseline;
}

html {
	background-color: #F0FFF0;
}

p.center {
	background-color: #CCFFCC;
	color: black;
	width: 90%;
	padding: 30px;
	text-align: center;
}

h1 {
	background-color: #98FB98;
	color: white;
	width: 90%;
	padding: 30px;
	text-align: center;
	outline: #32CD32 dotted thin;
	letter-spacing: 20px;
}

img.block {
	margin: auto;
	display: block;
	align: center;
}
#quote {
	color: grey;
	text-align: right;
}

div.page_wrap {
	font-size: 20px;
	margin-top: 50px;
	margin-left: 350px;
}

.sidebar {
	width: auto;
	background-color: #CCFFCC;
	position: fixed;
	top: 0em;
	left: 10px;
	padding: 0em 10px .8em;
	color: white;
	outline: #4AC948 dotted thin;
}

.sidebar a { color: green; }

.sidebar h2 {
	display: block;
	
}

.sidebar ul {
	margin: 0 0 2.4em;
	font-size: 1.25em;
	text-align: center;
	line-height: 1.2em;
	
}

.sidebar ul li {
	margin-bottom: .8em;
	text-align: center;
}

.nav h2 {
	background-image: url("../resources/snail.png");
}

.nav ul li {
	margin: 0 0 1.2em;
	
}

.nav ul li a {
	display: block;
	padding: .5em 5px .6em;
	margin-bottom: .3em;
	font-size: 1.00em;
}

.nav ul li a.main-link{
	outline: #32CD32 dotted thin;
	background-color: #98ff98;
	margin-top: 20px;
}

.nav ul li a.sub-link {
	background-color: #CCFFCC;
	display: block;
	padding: 0;
	font-size: 0.75em;
	margin-bottom: 0;
	text-align: left;
}