html, div, span, applet, object, iframe,
h2, h3, h5, h6, p, blockquote, pre,
a, abbr, abbr, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tbody, tfoot, thead{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family:inherit;
	font-size: 100%;
	vertical-align: baseline;
}

html {
	background-color: #F0FFF0;
}

p{
	background-color: #98FB98;
	color: gray;
	padding: 30px;
}

p.center {
	text-align: center;
}

table {
	margin-left: 40px;
}

h1.title{
	background-color: teal;
	color: white;
	width: 940px;
	padding: 30px;
	text-align: center;
	outline: #32CD32 dotted thin;
	letter-spacing: 20px;
}

h1.lesson{
	background-color: #4EEE94;
	font-size: 2.5em;
	color: white;
	width: 940px;
	padding: 30px;
	text-align: center;
	outline: #32CD32 dotted thin;
}

h2{
	color: gray;
	padding-left: 30px;
	margin-top: 30px;
	font-size: 35px;
}
h3{
	color: gray;
	padding-left: 40px;
	margin-top: 30px;
	font-size: 25px;
}

h4{
	margin-top: 10px;
	margin-bottom: 0px;
	color: gray;
	padding-left: 40px;
	font-size: 20px;
}

hr {
	margin-top: 30px;
}

hr {
	margin-top: 30px;
}

ul {
	margin-left: 80px;
}

img.block {
	margin: auto;
	display: block;
	align: center;
}

img.inline-img {
	display: inline;
	margin: 10px;
	margin-left: 40px;
	padding-right: 35px;
	height: 100px;
	float: left;
}

#quote {
	color: black;
	text-align: right;
}

div.page_wrap {
	font-size: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 350px;
	width: 1000px;
	background-color: #98FB98;
	padding-bottom: 50px;
}

div.content {
	width: auto;
}

a:visited { 
    color: teal;
	text-decoration: underline;
}
a:hover {
  text-decoration: underline;
}

.sidebar {
	width: 336px;
	background-color: #CCFFCC;
	position: fixed;
	top: 0em;
	left: 1px;
	padding: 0em 10px .8em;
	color: white;
	outline: #4AC948 dotted thin;
}

.sidebar a { 
	color: green;
	text-decoration: none;	
}

.sidebar h2 {
	display: block;	
}

.sidebar ul {
	margin: 0 0 2.4em;
	font-size: 1.25em;
	text-align: center;
	line-height: 1.2em;
	
}

.sidebar ul li {
	margin-bottom: .8em;
	text-align: center;
}

.nav h2 {
	background-image: url("../resources/snail.png");
}

.nav ul li {
	margin: 0 0 1.2em;
	
}

.nav ul li a {
	display: block;
	padding: .5em 5px .6em;
	margin-bottom: .3em;
	font-size: 1.00em;
}

.nav ul li a.main-link{
	outline: #32CD32 dotted thin;
	background-color: #98ff98;
	margin-top: 20px;
}

.nav ul li a.sub-link {
	background-color: #CCFFCC;
	display: block;
	padding: 0;
	font-size: 0.75em;
	margin-bottom: 0;
	text-align: left;
}

